@import url(
'https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700&display=swap'
);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}


body{
    background:url("2nd.webp") no-repeat center / cover;
    height: 100vh;
    padding: 50px 5%;
    /* line-height: 1.5; */
}

.container{
    position: relative;
    height: 100%;
    background:rgba(255, 255, 255, 0.021);
border-radius: 30px;
}

header{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 25px 5%;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;   
    transition: .5s;
}
.logo:hover{
    border-bottom: 4px solid #000000;
    font-size:30px ;
    animation: backwards;
    
}

.navbar a{
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent ;
    transition: .5s;
}

.navbar a:hover

{
    border-color: #000000;

}

.home{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0 ;
    color: #000000;

}

.home-detail h1{
    font-size: 55px;
    line-height: 1;

}

.home-detail h2{
    font-size:32px ;
}

.home-detail p{
    margin: 10px 0 20px ;
}

.home-detail .download-social{
    display: flex;
    align-items: center;

}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 40px;
    box-shadow: 0 0 10px #000000;
    color: #333;
    text-decoration: none;
    transition: .5s;
    font-weight: 500;
}

.btn:hover{
    background: #b5ffae;
    box-shadow: none;
    color: #000000;

}

.home-detail .social-icons{
    margin-left: 20px;

}
.home-detail .social-icons a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #080808; 
    border-radius: 50px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    margin: 0 8px;
    transition: .5s;
}

.home-detail .social-icons a:hover{
    background: #b5ffae;
    box-shadow: 0 0 10px #000000;
     color: #000000;

}

.home-img .img-box{
    position: relative;
    width: 23vw;
    height: 23vw;
    border: 2px solid #000000;
    border-radius: 50%;
    box-shadow: 0 0 20px #000000;
    overflow: hidden;
    background: #b5ffae94;
}

.home-img .img-box:hover{
    background: transparent;
    height: 26vw;
    border: none;
}



.home-img .img-box img{
    position: absolute;
    display: block;
    width: 100%;
    object-fit: cover;
    
}


.next-line{
    margin-top: 20px;
    text-align: center;
    align-items: center;
    display: flex;
}



.search-container {
    display: flex;
    align-items: center;
    margin-left: 30px; 

}


.search-container input {
    padding: 10px;
    border: 2px solid #000000; 
    border-radius: 10px; 
    outline: none;
    color: #000000; 
    background-color: #b5ffae; 
    margin-top: 20px;
    padding-right: 30px;
    margin-bottom:20px ;
    
}



.search-container i {
    margin-left: -30px ;
    /* color: #000000; Icon color */
    cursor: pointer; /* Pointer cursor on hover */
    top: 50%;
    transform: translateY(50%);
    position: relative;
    margin-top: -20px;
    font-size: 20px;
    color: #888;
    margin-right: 20px;
}

.navbar{
    display: flex;
    align-items: center;
    border: 3px solid #000000;
    border-radius: 20px;
    background: #ffffff8e;
}


.varbar{
    margin-right:20px ;
    font-weight: 600;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-dot{
    max-width: 1170px;

    margin: auto;
}


.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}

.footer{
    
    background-color:#24262b ;
    padding: 70px 0;
    width: 100vw;
    position: relative;
    left: 0;
    margin-left: calc(-50vw + 50%);
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
   
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}



.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}


.footer-col .social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}


.footer-col .social-link a:hover{
    color: #25272c;
    background-color: #ffffff;

}
@media(max-width:767px)
{
    .footer-col{
        width: 50%;
        margin-bottom: 40px;
    }
}



@media(max-width:574px)
{
    .footer-col{
        width: 100%;
       
    }
}












